<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.predictezy.fp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/pnal"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/pnalr"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Ligue1Standings"
            android:theme="@style/Spinner"/>
        <activity android:name=".Ligue1Matches"
            android:theme="@style/Spinner"/>
        <activity android:name=".SerieAMatches"
            android:theme="@style/Spinner"/>
        <activity android:name=".SerieAStandings"
            android:theme="@style/Spinner"/>
        <activity android:name=".BundesligaMatches"
            android:theme="@style/Spinner"/>
        <activity android:name=".BundesligaStandings"
            android:theme="@style/Spinner"/>
        <activity android:name=".LaLigaMatches"
            android:theme="@style/Spinner"/>
        <activity android:name=".LaLigaStandings"
            android:theme="@style/Spinner"/>
        <activity android:name=".PremierLeagueStandings"
            android:theme="@style/Spinner"/>
        <activity android:name=".PremierLeagueMatches"
            android:theme="@style/Spinner"/>
        <activity
            android:name=".AskQuestions"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".RequestLeague"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".Notice"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".HomePage"
            android:theme="@style/BottomNav" />
        <activity
            android:name=".ForgotPassword"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".Register"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".LoginPage"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2924639732611391~3926132218" />
    </application>

</manifest>